<table>
  <tbody>
      <tr>
          <td>
              <p >
                  合図を行う場合
              </p>
          </td>
          <td>
              合図を行う場所、時期
          </td>
      </tr>

      <tr>
          <td>
              &nbsp;発進する時
          </td>
          <td>
              &nbsp;発進する前
          </td>
      </tr>

      <tr>
          <td>
              左折する時
          </td>
          <td>
              <p>
                  左折しようとする地点（交差点で左折する場合はその交差点）
              </p>

              <p>
                  から<span>３０ｍ手前</span>の地点に達した時
              </p>
          </td>
      </tr>

      <tr>
          <td>
              <p>
                  同一方向に進行しながら進路を
              </p>

              <p>
                  左方に変える時（左進路変更）
              </p>
          </td>
          <td>
              進路を変えようとする時の約<span>３秒前</span>
          </td>
      </tr>

      <tr>
          <td>
              右折か転回をする時
          </td>
          <td>
              <p>
                  右折か転回をしようとする時（交差点で右折する場合はその交差点）
              </p>

              <p>
                  から<span>３０ｍ手前</span>の地点に達した時
              </p>
          </td>
      </tr>

      <tr>
          <td>
              <p>
                  同一方向に進行しながら進路を
              </p>

              <p>
                  右方に変える時（右進路変更）
              </p>
          </td>
          <td>
              進路を変えようとする時の約<span>３秒前</span>
          </td>
      </tr>

      <tr>
          <td>
              徐行か停止をする時
          </td>
          <td>
              <p>
                  徐行か停止をしようとする時（ブレーキを踏めばブレーキ灯が光る
              </p>

              <p>
                  ので実際は何もしない）
              </p>
          </td>
      </tr>

      <tr>
          <td>
              後退する時
          </td>
          <td>
              <p>
                  後退しようとする時（シフトをⓇにするとバックランプが光るので
              </p>

              <p>
                  実際は何もしない）
              </p>
          </td>
      </tr>
  </tbody>
</table>


<!-- 先にここから -->
<table class="table-hover" border="1" bordercolor="#000">
    <thead class="bg-warning">
      <tr>
          <td class="details" colspan="2">
              細目
          </td>
          <td class="apply">
              適用事項
          </td>
          <td class="points">
              減点
          </td>
      </tr>
    </thead>

    <tbody>
        <tr>
            <td class="vr" rowspan="3">
              <p >【合図不履行等】</p>
            </td>
            <td class="vr">
                <p >発進合図</p>
            </td>
            <td>
                <p>路端から発進する場合</p>

                <p>１、方向指示器を操作しない時</p>

                <p>２、発進後の進路変更が終わるまで合図を継続しない時</p>

                <p>３、発進後の進路変更が終わっても合図をやめない時</p>
            </td>
            <td style="text-align: center;">5</td>
        </tr>

        <tr>
            <td class="vr">
                <p>変更合図</p>
            </td>
            <td>
                <p>進路を変更する場合</p>

                <p>１、進路変更の合図をしない時</p>

                <p>２、進路変更が終わるまで合図を継続しない時</p>

                <p>３、進路変更が終わっても合図をやめない時</p>

                <p>４、合図をした時期が遅い、又は著しく早い時</p>
            </td>
            <td style="text-align: center;">➄</td>
        </tr>

      <tr>
          <td class="vr">
              <p>右折合図</p>
          </td>
          <td>
              <p>右折又は左折をする場合</p>

              <p>１、右折（転回を含む）又は左折の合図をしない場合</p>

              <p>２、右左折が終わるまで合図を継続しない時</p>

              <p>３、右左折が終わっても合図をやめない時</p>

              <p>４、合図をした時機が遅い、又は著しく早い時</p>
          </td>
          <td style="text-align: center;">➄</td>
      </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="details" colspan="2">
                <p>【安全不確認(変更)】</p>
            </td>
            <td class="apply">
                <p>進路を変えようとする時に、変えようとする側の後方を直接目視及びバックミラーで見ない時</p>
            </td>
            <td class="points">10</td>
        </tr>

        <tr>
            <td class="details" colspan="2">
                <p>【合図不履行(変更)】</p>
            </td>
            <td class="apply">
                <p>減点細目「合図不履行」参照</p>
            </td>
            <td class="points">➄</td>
        </tr>

        <tr>
            <td class="details" colspan="2">
                <p>【側方間隔不保持】</p>
            </td>
            <td class="apply">障害物との間隔が、５０ｃｍ未満の時</td>
            <td class="points">20</td>
        </tr>
    </tbody>
</table>