<table class="table-hover" border="1" bordercolor="#000">
    <thead class="bg-warning text-center">
        <tr>
            <td style="width:10%;">適用事項</td>
            <td style="width:50%">確認の時期や場所</td>
            <td style="width:30%">確認の方法</td>
            <td style="width:10%">点数</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="vr"><p>【発進】</p></td>
            <td>発進しようとする前に右後方及びその他周囲を見る</td>
            <td>直接目視</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【後退】</p></td>
            <td >後退しようとする前に後退場所及び方向を見る</td>
            <td >直接目視</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【周囲】</p></td>
            <td >後退中に側方又は後退する方向を見る</td>
            <td >直接目視</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【巻込み】</p></td>
            <td >左折直前に車体の左側方を見る</td>
            <td >直接目視又はバックミラー</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【変更】</p></td>
            <td >進路を変えようとする時に変えようとする側の後方を見る</td>
            <td >直接目視<span style="color: hsl(0, 100%, 50%);">及び</span>バックミラー</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【交差点】</p></td>
            <td >交差点に入ろうとする時に他の車両や歩行者に対する安全を確認する</td>
            <td >直接左右を目視</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【後方】</p></td>
            <td >走行中に信号が黄色に変わった時など後方の状況を知る必要がある時に後方を見る</td>
            <td >バックミラー</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【踏切】</p></td>
            <td >停止線の手前で一時停止した時</td>
            <td >直接左右を目視、窓を開けて耳で確認</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【脇見】</p></td>
            <td >走行中、接触、脱輪等危ない時に危ない所を見る</td>
            <td >直接目視又はバックミラー</td>
            <td class="text-center">10</td>
        </tr>

        <tr>
            <td class="vr"><p>【降車】</p></td>
            <td >降車時、ドアを開けようとする前に後方を確認する</td>
            <td >直接目視</td>
            <td class="text-center">10</td>
        </tr>
    </tbody>
</table>
