<table class="table-hover" border="1" bordercolor="#000">
	<thead class="bg-warning">
		<tr>
			<td class="details">減点細目</td>
			<td class="apply">適用事項</td>
			<td class="points">減点</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="2" class="details"><p>【安全措置不適】</p></td>
			<td class="apply">
				<ol>
					<li>ドアを完全に閉めない時</li>
					<li>ルームミラーが合ってることを確認しない時</li>
					<li>ギアが入ったままクラッチを切らないで、エンジンを始動した時</li>
					<li>ハンド（駐車）ブレーキを戻さない時</li>
				</ol>
			</td>
			<td class="points">5</td>
		</tr>
		<tr>
			<td class="apply">
				<p>５、シートベルトを着用しない時</p>
			</td>
			<td class="points">10</td>
		</tr>

		<tr>
			<td class="details"><p>【安全不確認(発進)】</p></td>
			<td class="apply">
				<p>直接目視により、右後方及びその他周囲の安全を確認しない場合</p>
			</td>
			<td class="points">10</td>
		</tr>

		<tr>
			<td class="details"><p>【後車妨害】</p></td>
			<td class="apply">
				<p>後方から進行してくる車両の速度又は方向を急に変更させるおそれがある場合に、進路を変えようとした時</p>
			</td>
			<td class="points">危</td>
		</tr>

		<tr>
			<td class="details"><p>【アクセルむら】</p></td>
			<td class="apply">
				<ol>
					<li>アクセルのふかし過ぎ、クラッチの急接、その他発進操作不良の為、おおむね０．４Ｇを超える加速度を生じる発進をした場合<strong>＊</strong></li>
					<li>アクセル又はクラッチの操作不良の為、車体ノックが生じた場合</li>
					<li>３０００回転を超える空ぶかしを生じた場合</li>
				</ol>
			</td>
			<td class="points">➄</td>
		</tr>

		<tr>
			<td class="details"><p>【エンスト】</p></td>
			<td class="apply">操作不良の為、エンジンが停止した場合</td>
			<td class="points">➄</td>
		</tr>

		<tr>
			<td class="details"><p>【発進手間取り】</p></td>
			<td class="apply">
				<p>発進時機の判断不良、又は操作不良の為、おおむね５秒以内に発進しなかった場合（ただし、発着点では適用されません）</p>
			</td>
			<td class="points">➄</td>
		</tr>

		<tr>
			<td class="details"><p>【発進不能】</p></td>
			<td class="apply">
				<p>同一場所でエンストを４回行った場合、又は他の交通に支障を及ぼすおそれがある場合</p>
			</td>
			<td class="points">危</td>
		</tr>

		<tr>
			<td class="details"><p>【停止位置不適】</p></td>
			<td class="apply">
				<ol>
					<li>停止線の手前からおおむね２メートル以上手前で停止した時</li>
					<li>発着点等に設けられた停止目標物（ポール等）から車体の先端が前方又は、後方におおむね０，３ｍ以上離れて停止した場合</li>
				</ol>
			</td>
			<td class="points">5</td>
		</tr>

		<tr>
			<td class="details"><p>【指定場所不停止】</p></td>
			<td class="apply">
				<p>停止線の手前で停止しない場合や線を超えてしまった時</p>
			</td>
			<td class="points">危</td>
		</tr>
	</tbody>
</table>

<!-- <td(?=>[5危➄10]*</td>) -->