<table align="" width="100%" height="100%" class="mceEditable" style="border: 1px solid #000000;" border="0" cellspacing="0" cellpadding="3">
  <tbody>
      <tr>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              減点細目
          </td>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              適用事項
          </td>
          <td style="border: 1px solid #000000; background-color: #ffda5b;">
              減点数
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;" rowspan="2">
              &nbsp;安全措置不適&nbsp;
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  １、ドアを完全に閉めない時
              </p>

              <p>
                  ２、ルームミラーが合ってることを確認しない時
              </p>

              <p>
                  ３、ギアが入ったままクラッチを切らないで、エンジンを始動した時
              </p>

              <p>
                  ４、ハンド（駐車）ブレーキを戻さない時
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;５
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              <p>
                  ５、シートベルトを着用しない時
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              １０
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              安全不確認（発進）
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  直接目視により、右後方及びその他周囲の安全を確認しない場合
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              １０
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              後車妨害
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  後方から進行してくる車両の速度又は方向を急に変更させるおそれが
              </p>

              <p>
                  ある場合に、進路を変えようとした時
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;危
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              アクセルむら
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  １、アクセルのふかし過ぎ、クラッチの急接、その他発進操作不良の為、
              </p>

              <p>
                  おおむね０．４Ｇを超える加速度を生じる発進をした場合　<strong>＊</strong>
              </p>

              <p>
                  ２、アクセル又はクラッチの操作不良の為、車体ノックが生じた場合
              </p>

              <p>
                  ３、３０００回転を超える空ぶかしを生じた場合
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;⑤
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              エンスト
          </td>
          <td style="border: 1px solid #000000;">
              操作不良の為、エンジンが停止した場合
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;⑤
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              発進手間取り
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  発進時機の判断不良、又は操作不良の為、おおむね５秒以内に発進しな
              </p>

              <p>
                  かった場合（ただし、発着点では適用されません）
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;⑤
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              発進不能
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  &nbsp;同一場所でエンストを４回行った場合、又は他の交通に支障を及ぼす
              </p>

              <p>
                  おそれがある場合
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;危
          </td>
      </tr>
  </tbody>
</table>
<table align="" width="100%" height="100%" class="mceEditable" style="border: 1px solid #000000;" border="0" cellspacing="0" cellpadding="3">
    <tbody>
        <tr>
            <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
                減点細目
            </td>
            <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
                適用事項
            </td>
            <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
                減点数
            </td>
        </tr>

        <tr>
            <td style="border: 1px solid #000000;">
                &nbsp;停止位置不適
            </td>
            <td style="border: 1px solid #000000;">
                <p>
                    １、停止線の手前からおおむね２メートル以上手前で停止した時
                </p>

                <p>
                    ２、発着点等に設けられた停止目標物（ポール等）から車体の先端が前方又は
                </p>

                <p>
                    　　後方におおむね０，３ｍ以上離れて停止した場合
                </p>
            </td>
            <td style="border: 1px solid #000000; text-align: center;">
                &nbsp;５
            </td>
        </tr>

        <tr>
            <td style="border: 1px solid #000000;">
                指定場所不停止
            </td>
            <td style="border: 1px solid #000000;">
                <p>
                    停止線の手前で停止しない場合や線を超えてしまった時
                </p>
            </td>
            <td style="border: 1px solid #000000; text-align: center;">
                危
            </td>
        </tr>
    </tbody>
</table>