<table class="table-hover" border="1" bordercolor="#000">
    <thead class="bg-warning">
        <tr>
            <td class="details">減点細目</td>
            <td class="apply">適用事項</td>
            <td class="points">減点</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="details"><p>【課題速度(区間)】</p></td>
            <td class="apply">速度指定区間を、指示速度よりおおむね５キロ以上遅い速度で進行した場合</td>
            <td class="points">10</td>
        </tr>

        <tr>
            <td class="details"><p>【課題外速度】</p></td>
            <td class="apply">
                <p>道路及び交通の状況に応じた加速が不適切な次の場合</p>
                <ol>
                    <li>通常出し得る速度に達するのが遅い時</li>
                    <li>通常出し得る速度を維持しない時</li>
                </ol>
                <p>（通常出し得る速度とは、規制標識などで示された制限速度です）</p>
            </td>
            <td class="points">⑩</td>
        </tr>

        <tr>
            <td class="details"><p>【速度超過】</p></td>
            <td class="apply">制限速度、又は指示速度を５キロ以上超過した場合</td>
            <td class="points">20</td>
        </tr>

        <tr>
            <td class="details"><p>【速度速過ぎ大】</p></td>
            <td>
                <p>道路及び交通の状況に適した速度より５キロ以上速い場合や、カーブで強い横加速を生じた場合</p>
            </td>
            <td class="points">20</td>
        </tr>

        <tr>
            <td class="details"><p>【速度速過ぎ小】</p></td>
            <td class="apply">
                <p>道路及び交通の状況に適した速度より５キロ未満速い場合や、カーブで弱い横加速を生じた場合</p>
            </td>
            <td class="points">10</td>
        </tr>
        <tr>
            <td class="details"><p>【徐行違反】</p></td>
            <td class="apply">
                <ol>
                    <li>交差点で左折、右折をする時</li>
                    <li>徐行の標識があるところ</li>
                    <li>優先道路に入ろうとする時</li>
                    <li>左右の見通しが悪い交差点（信号機がある場合や優先道路を通行している場合を除く）</li>
                    <li>道路の曲がり角付近</li>
                    <li>上り坂の頂上付近</li>
                    <li>こう配の急な（１０％を超える）下り坂</li>
                </ol>
            </td>
            <td class="points">20</td>
        </tr>
        <tr>
            <td class="details"rowspan="3"><p>【運転姿勢不良】</p></td>
            <td class="apply">直進中に、ハンドルの下側だけを又は片手でハンドルを保持している時</td>
            <td rowspan="3">5</td>
        </tr>

        <tr class="details">
            <td>カーブの度に両腕を交差したままハンドルを保持している時</td>
        </tr>

        <tr class="points">
            <td>ハンドル操作の度に上体を著しく横に傾ける時</td>
        </tr>
    </tbody>
</table>