<table align="" width="100%" height="100%" class="mceEditable" style="border: 1px solid #000000;" border="0" cellspacing="0" cellpadding="3">
  <tbody>
      <tr>
          <td style="border: 1px solid #000000; background-color: #ffda5b;">
              <p style="text-align: center;">
                  減点細目
              </p>
          </td>
          <td style="border: 1px solid #000000; background-color: #ffda5b;">
              <p style="text-align: center;">
                  適用事項
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              減点数
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              &nbsp;課題速度（区間）
          </td>
          <td style="border: 1px solid #000000;">
              速度指定区間を、指示速度よりおおむね５キロ以上遅い速度で進行した場合
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;１０
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              課題外速度
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  道路及び交通の状況に応じた加速が不適切な次の場合
              </p>

              <p>
                  １、通常出し得る速度に達するのが遅い時
              </p>

              <p>
                  ２、通常出し得る速度を維持しない時
              </p>

              <p>
                  （通常出し得る速度とは、規制標識などで示された制限速度です）
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              ⑩
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              速度超過
          </td>
          <td style="border: 1px solid #000000;">
              制限速度、又は指示速度を５キロ以上超過した場合
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              ２０
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              速度速過ぎ大
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  道路及び交通の状況に適した速度より５キロ以上速い場合や、カーブで強い
              </p>

              <p>
                  横加速を生じた場合
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              ２０
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              速度速過ぎ小　
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  道路及び交通の状況に適した速度より５キロ未満速い場合や、カーブで弱い
              </p>

              <p>
                  横加速を生じた場合
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              １０
          </td>
      </tr>
  </tbody>
</table>
<table align="" width="100%" height="100%" class="mceEditable" style="border: 1px solid #000000;" border="0" cellspacing="0" cellpadding="3">
  <tbody>
      <tr>
          <td style="border: 1px solid #000000; background-color: #ffda5b;">
              減点細目
          </td>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              適用事項
          </td>
          <td style="border: 1px solid #000000; background-color: #ffda5b;">
              減点数
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              &nbsp;徐行違反
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  １、交差点で左折、右折をする時
              </p>

              <p>
                  ２、徐行の標識があるところ
              </p>

              <p>
                  ３、優先道路に入ろうとする時
              </p>

              <p>
                  ４、左右の見通しが悪い交差点（信号機がある場合や優先道路を通行している場合を除く）
              </p>

              <p>
                  ５、道路の曲がり角付近
              </p>

              <p>
                  ６、上り坂の頂上付近
              </p>

              <p>
                  ７、こう配の急な（１０％を超える）下り坂
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              ２０&nbsp;
          </td>
      </tr>
  </tbody>
</table>
<table align="" width="100%" height="100%" class="mceEditable" style="border: 1px solid #000000;" border="0" cellspacing="0" cellpadding="3">
  <tbody>
      <tr>
          <td style="border: 1px solid #000000; background-color: #ffda5b;">
              <p style="text-align: center;">
                  減点細目　
              </p>
          </td>
          <td style="border: 1px solid #000000; background-color: #ffda5b;">
              <p style="text-align: center;">
                  適用事項
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              減点数
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;" rowspan="3">
              &nbsp;運転姿勢不良
          </td>
          <td style="border: 1px solid #000000;">
              直進中に、ハンドルの下側だけを又は片手でハンドルを保持している時
          </td>
          <td style="border: 1px solid #000000; text-align: center;" rowspan="3">
              &nbsp;５
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              カーブの度に両腕を交差したままハンドルを保持している時
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000;">
              ハンドル操作の度に上体を著しく横に傾ける時
          </td>
      </tr>
  </tbody>
</table>