<table class="table table-bordered">
  <thead class="bg-warning">
    <tr>
        <td class="col-xs-3">減点細目</td>
        <td class="col-xs-7">適用事項</td>
        <td class="col-xs-2">減点数</td>
    </tr>
  </thead>

  <!-- <tbody>
    <tr>
        <td class="col-xs-4">駐車措置違反</td>
        <td class="col-xs-4">
            <p>１．ハンドブレーキをかけない時</p>
            <p>２．エンジンを止めない時</p>
            <p>３．ギアをリバース又は１速（ＡＴ車はＰレンジ）に入れない時</p>
        </td>
        <td class="col-xs-4">5</td>
    </tr>

    <tr>
        <td class="col-xs-4">停止位置不適</td>
        <td class="col-xs-4">
            <p>停止目標物（ポール等）から、車体の先端が前方又は後方に０．３ｍ以上離れて停止した場合</p>
        </td>
        <td class="col-xs-4">5</td>
    </tr>

    <tr>
        <td class="col-xs-4">駐停車方法違反</td>
        <td class="col-xs-4">路端へ駐停車する場合に、道路の左側端から車体が、０．３ｍ以上離れている時</td>
        <td class="col-xs-4">5</td>
    </tr>
  </tbody> -->
</table>

<!-- <style>
  thead > tr > td{
    border-bottom: 2px solid #000000;
  }
  tbody > td{
    border: 1px solid #000000;
  }
</style> -->