<table class="table-hover" border="1" bordercolor="#000">
  <thead class="bg-warning">
    <tr>
        <td class="details">減点細目</td>
        <td class="apply">適用事項</td>
        <td class="points">減点</td>
    </tr>
  </thead>

  <tbody>
    <tr> 
        <td class="details"><p>【駐車措置違反】</p></td>
        <td class="apply">
			<ol>
				<li>ハンドブレーキをかけない時</li>
				<li>エンジンを止めない時</li>
				<li>ギアをリバース又は１速（ＡＴ車はＰレンジ）に入れない時</li>
			</ol>
        </td>
        <td class="points">5</td>
    </tr>

    <tr>
        <td class="details"><p>【停止位置不適】</p></td>
        <td class="apply">
            <p>停止目標物（ポール等）から、車体の先端が前方又は後方に０．３ｍ以上離れて停止した場合</p>
        </td>
        <td class="points">5</td>
    </tr>

    <tr>
        <td class="details"><p>【駐停車方法違反】</p></td>
        <td class="apply">路端へ駐停車する場合に、道路の左側端から車体が、０．３ｍ以上離れている時</td>
        <td class="points">5</td>
    </tr>
  </tbody>
</table>

