<table class="table">
  <thead>
    <tr class="title">
        <td class="col-xs-3">
            <p>
              減点細目
            </p>
        </td>
        <td class="col-xs-3">
            <p>
              適用事項
            </p>
        </td>
        <td class="col-xs-3">
            <p>
              減点数
            </p>
        </td>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td >
            &nbsp;駐車措置違反
        </td>
        <td>
            <p>
                １．ハンドブレーキをかけない時
            </p>

            <p>
                ２．エンジンを止めない時
            </p>

            <p>
                ３．ギアをリバース又は１速（ＡＴ車はＰレンジ）に入れない時
            </p>
        </td>
        <td >
            5
        </td>
    </tr>

    <tr>
        <td >
            停止位置不適
        </td>
        <td >
            <p>
                停止目標物（ポール等）から、車体の先端が前方又は後方に０．３ｍ以上離れて
            </p>

            <p>
                停止した場合
            </p>
        </td>
        <td >
            5
        </td>
    </tr>

    <tr>
        <td >
            駐停車方法違反
        </td>
        <td >
            路端へ駐停車する場合に、道路の左側端から車体が、０．３ｍ以上離れている時
        </td>
        <td >
            5
        </td>
    </tr>
  </tbody>
</table>

<style>
  thead > tr > td{
    border-bottom: 2px solid #000000;
  }
  tbody > td{
    border: 1px solid #000000;
  }
</style>