<table class="table-hover" border="1" bordercolor="#000">
    <thead class="bg-warning">
        <tr>
            <td class="details">減点細目</td>
            <td class="apply">適用事項</td>
            <td class="points">減点</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="details"><p>【進路変更違反】</p></td>
            <td class="apply">
                <p>左折しようとした次の場合</p>

                <p>１、進路変更を全くしない時、又はしようとしない時</p>

                <p>２、進路を変え終わったのが交差点の手前から３０ｍ未満の時</p>

                <p>３、交差点の直前で右へハンドルを操作した時</p>

                <p>４、進路を変えたが、道路の左側端から１ｍ以上離れている時</p>

                <p>右折しようとした次の場合</p>

                <p>１、進路変更を全くしない時、又はしようとしない時</p>

                <p>２、進路を変え終わったのが交差点の手前から３０ｍ未満の時</p>

                <p>３、交差点の直前で左へハンドルを操作した時</p>

                <p>４、進路を変えたが、道路の中央から０．５ｍ以上離れている時</p>
            </td>
            <td class="points">5</td>
        </tr>

        <tr>
            <td class="details"><p>【合図不履行】</p></td>
            <td class="apply">
                <p>chapter 2 の section 2 参照</p>
            </td>
            <td class="points">➄</td>
        </tr>

        <tr>
            <td class="details"><p>【安全不確認(変更)】</p></td>
            <td class="apply">
                <p>進路を変えようとする前に、変えようとする側の後方を直接目視、及びバックミラーで見ない時</p>
            </td>
            <td class="points">10</td>
        </tr>

        <tr>
            <td class="details"><p>【右左折方法違反】</p></td>
            <td class="apply">
                <ol>
                    <li>左折時に左後輪が道路の左側端から１ｍ以上離れた場合（下図の１）</li>
                    <li>右折時に右前輪が交差点の中心の外側を通った場合（下図の２）</li>
                    <li>右折時に左前輪が交差点の中心より２ｍ以上離れた場合（下図の３）</li>
                    <li>右左折する場合に、道路標識等により指定された通行すべき部分から、本来であれば最も近いこととなる前車輪がおおむね２ｍ以上離れて通行した時（下図の４）</li>
                </ol>
            </td>
            <td class="points">5</td>
        </tr>
    </tbody>
</table>