<table align="" width="100%" height="100%" class="mceEditable" style="border: 1px solid #000000;" border="0" cellspacing="0" cellpadding="3">
  <tbody>
      <tr>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              減点細目
          </td>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              適用事項
          </td>
          <td style="border: 1px solid #000000; text-align: center; background-color: #ffda5b;">
              減点数
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000; text-align: left;">
              &nbsp;進路変更違反
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  左折しようとした次の場合
              </p>

              <p>
                  　１、進路変更を全くしない時、又はしようとしない時
              </p>

              <p>
                  　２、進路を変え終わったのが交差点の手前から３０ｍ未満の時
              </p>

              <p>
                  　３、交差点の直前で右へハンドルを操作した時
              </p>

              <p>
                  　４、進路を変えたが、道路の左側端から１ｍ以上離れている時
              </p>

              <p>
                  右折しようとした次の場合
              </p>

              <p>
                  　１、進路変更を全くしない時、又はしようとしない時
              </p>

              <p>
                  　２、進路を変え終わったのが交差点の手前から３０ｍ未満の時
              </p>

              <p>
                  　３、交差点の直前で左へハンドルを操作した時
              </p>

              <p>
                  　４、進路を変えたが、道路の中央から０．５ｍ以上離れている時
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              &nbsp;５
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000; text-align: left;">
              合図不履行
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  chapter 2 の section 2 参照
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              ⑤
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000; text-align: left;">
              <p>
                  安全不確認
              </p>

              <p>
                  　（変更）
              </p>
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  進路を変えようとする前に、変えようとする側の後方を直接目視
              </p>

              <p>
                  及びバックミラーで見ない時
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              １０
          </td>
      </tr>

      <tr>
          <td style="border: 1px solid #000000; text-align: left;">
              <p>
                  右左折方法違反
              </p>

              <p>
                  <span style="color: hsl(300, 100%, 50%);">（下図参照）</span>
              </p>
          </td>
          <td style="border: 1px solid #000000;">
              <p>
                  １、左折時に左後輪が道路の左側端から１ｍ以上離れた場合（下図の１）
              </p>

              <p>
                  ２、右折時に右前輪が交差点の中心の外側を通った場合（下図の２）
              </p>

              <p>
                  ３、右折時に左前輪が交差点の中心より２ｍ以上離れた場合（下図の３）
              </p>

              <p>
                  ４、右左折する場合に、道路標識等により指定された通行すべき
              </p>

              <p>
                  　部分から、本来であれば最も近いこととなる前車輪がおおむね
              </p>

              <p>
                  　２ｍ以上離れて通行した時（下図の４）
              </p>
          </td>
          <td style="border: 1px solid #000000; text-align: center;">
              ５
          </td>
      </tr>
  </tbody>
</table>