// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav > li > a{
  display: block;
  height: 100%;
}

table{
  table-layout: fixed;
}

img{
  width: 100%;
}
// 以下table用

.details{
  width: 45px;

  }
}
.apply{
  width: 292px;
  padding-left: 10px;
}
.points{
  width: 37px;
  text-align: center;
}
.vr p{
  display: inline-block;
  padding-left:10px;
  margin: auto;
  writing-mode: vertical-lr;

  line-height: 100%;
}