// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav > li > a{
  display: block;
  height: 100%;
}


img{
  width: 100%;
}
// 以下table用

.details{
  background-color: white;
  width: 12%;
}
.apply{
  width: 78%;
  padding-left: 10px;
  background-color: white;
}
.points{
  width: 10%;
  text-align: center;
  background-color: white;
}
.vr p{
  display: inline;
  padding-left:10px;
  margin: auto;
  writing-mode: vertical-lr;
}